section.container-fluid.pt-5.pb-5
  .row.align-items-center
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/acai-frutasvermelhas.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/acai-limao.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/acai-cupuacao.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/acai-coco.png')
    .col-sm-12.text-center
      a.btn.btn-outline-success(href='https://mase.app/public/partners/6/menu' target='_blank') Ver Cardápio




