section.container-fluid.set-bgcolor--secondaryTransition.pb-5.pt-4
  .row.align-items-center
    .col-sm-12
        h2.mt-2.mb-4.text-center.set-color--primary Lanches e Bebidas
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/lanches-crepe.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/lanches-sanduiche.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/lanches-salgado.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/lanches-vitamina.png')
    .col-sm-12.text-center
      a.btn.btn-outline-success(href='https://mase.app/public/partners/6/menu' target='_blank') Ver Cardápio

