.content-3.bg-3.set-bgcolor--lowgray.page-section.p-4(role='História')
  .container#tuira
    .row.justify-content-start
      .col-lg-8.col-sm-12
        .d-flex.flex-column.justify-content-center.h-100
          h2.mt-2.mb-4.text-center.set-color--primary Tuíra
          h3.mb-4.set-color--primary Da cultura indígena Brasileira para você!
          h2.mb-4.set-color--tertiary A Origem do Açaí
          p.set-size--lg.text-justify.set-color--tertiary O açaí é uma das principais fontes de alimentação dos povos ribeirinhos da região amatzônica. Apreciado em várias partes do mundo, considerado um super alimento, é uma contribuição cultural dos índios para o Brasil – o maior exportador mundial da polpa do açaí.
          h3.mb-4.set-color--primary Conceito da Marca
          .media
            img.mr-3.logo-control(src='../assets/logo.svg', alt='Logo Tuíra Açaí')
            .media-body.set-color--tertiary.text-justify
              |  O açaizeiro, uma das palmeiras mais finas, sobressai-se no elemento figurativo da marca, ou símbolo. Em sua base a tigela cheia da polpa produzida pelo seu fruto. Como o símbolo é um elemento vivo, muito maior que o conceito inicial para o seu desenvolvimento e em constante evolução, assumirá outros significados. Alguns, verão ainda a metade do fruto do açaí. Outros, a figura do rosto de um índio, e assim prosseguirá em sua existência: agregando novos significados, novos valores.
.d-md-none.d-sm-block.set-bgcolor--lowgray
  img.img-fluid(src='../assets/imagens/bg3-3.png')
.set-bgcolor--purplewine.text-right.font-secundary
  p.m-0.p-1.set-color--white.set-size--xs - Diálogo do século XVII entre um missionário europeu e um indígena brasileiro.
  p.m-0.p-1.set-color--white.set-size--xs Desenho baseado nas ilustrações de Ivan Wasth Rodrigues da obra Casa Grande e Senzala, de Gilberto Freire, adaptada para quadrinhos por Estêvão Pinto.