section(role='Paralax')
  .parallax.parallax-img--2
    .container.h-100
      .row.align-items-center.h-100
        .col.text-center
          .animation-element.slide-left
            img(src='../assets/logo-circle.svg' width='200' height='200')