section.container-fluid.set-bgcolor--secondaryTransition.pb-5.pt-4
  .row.align-items-center
    .col-sm-12
        h2.mt-2.mb-4.text-center.set-color--primary Lanches e Bebidas
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/lanches-crepe.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/lanches-sanduiche.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/lanches-salgado.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/lanches-vitamina.png')
    .col-sm-12.text-center
      a.btn.btn-outline-success(href='/assets/cardapios/cardapio-2021-tuira.pdf', target='_blank') Cardápio (PDF)

section.container-fluid.pb-5.pt-4
  .row 
    .col-md-3
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/b_IeAJgwo_8' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    .col-md-3
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/6ueGSvUgXlo' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    .col-md-3
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/BxlIsTsIBHg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    .col-md-3
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/GDgoSUC8Zr4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
