.container-fluid.p-5
  .row.align-items-center
    .col-md-3.col-sm-6
      img.img-fluid(src='../assets/imagens/acai-frutasvermelhas.png')
    .col-md-3.col-sm-6
      img.img-fluid(src='../assets/imagens/acai-limao.png')
    .col-md-3.col-sm-6
      img.img-fluid(src='../assets/imagens/acai-cupuacao.png')
    .col-md-3.col-sm-6
      img.img-fluid(src='../assets/imagens/acai-coco.png')




