section.parallax-parent--bg.page-section.p-4(role='Sobre')
  .parallax.parallax-img.position-relative#sobre
    .container
      .row
        .col-12
          .d-flex.flex-column.justify-content-center.h-100
            h2.mt-2.mb-4.text-center.set-color--primary Açaí Tuíra
            p.set-size--xl.text-justify.set-color--primary O açaizeiro é nativo da Amazônia e cresce em touceiras com várias palmeiras. Quando o seu fruto atinge uma coloração preta, coberta parcialmente por uma finíssima camada branca, é designado pelos ribeirinhos de açaí tuíra. É o ápice do sabor e do aroma da fruta, o ponto máximo de sua maturação e o momento ideal para a extração e  consumo. Essa informação serve de base para a escolha do elemento nominativo (naming) da marca. Serve também como orientação para a escolha da polpa e da proposta comercial da empresa, que tem como objetivo oferecer o melhor açaí para seus clientes.
    .position-absolute.w-100.bottom--60
      .text-center
        img.img-fluid(src='../assets/imagens/acai.png' alt='Imagem de sementes de açaí sobre desenhos da indentidade visual, desenho indígenas brasileiros.')
