section.container-fluid.pt-5.pb-5
  .row.align-items-center
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/acai-frutasvermelhas.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/acai-limao.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/acai-cupuacao.png')
    .col-md-3.col-sm-6
      .animation-element.slide-left
        img.img-fluid(src='../assets/imagens/acai-coco.png')
    .col-sm-12.text-center
      a.btn.btn-sm.btn-outline-success.m-1(href='assets/cardapios/cardapio-2021-tuira.pdf', target='_blank') Cardápio (PDF)
      p Peça pelo Ifood
      a.btn.btn-sm.btn-outline-success.m-1(href='http://bit.ly/3sH4ZZv', target='_blank' data-toggle="tooltip" data-placement="top" title="Ifood Asa Sul") 
        img(src="assets/ifood-43.svg", alt="Ifood", width='30') 
        | &nbsp; Asa Sul
      a.btn.btn-sm.btn-outline-success.m-1(href='https://bit.ly/ifooddecknorte', target='_blank' data-toggle="tooltip" data-placement="top" title="Ifood Lago Norte") 
        img(src="assets/ifood-43.svg", alt="Ifood", width='30') 
        | &nbsp; Lago Norte
      //- p Peça pelo 
      //-   a(href='http://bit.ly/3sH4ZZv' target='_blank')
      //-     img(src="assets/ifood-43.svg", alt="Ifood", width='60') 
      //-   | Tuira Açaí Asa Sul:
    //- .col-sm-12.text-center
      //- a.btn.btn-sm.btn-outline-success.mb-1(href='assets/cardapios/card-tuira-acai-less.jpg', target='_blank') Cardápio Açaí (JPG)




