mixin foto(href, img)
  .content.embed
    a(href=href data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src=img)
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores

section.d-flex.flex-wrap.justify-content-start.mosaic-margin
  +foto('../assets/fotos/15.jpg','../assets/fotos/15.jpg')
  +foto('../assets/fotos/43.jpg','../assets/fotos/43.jpg')
  +foto('../assets/fotos/17.jpg','../assets/fotos/17.jpg')
  +foto('../assets/fotos/18.jpg','../assets/fotos/18.jpg')
  +foto('../assets/fotos/19.jpg','../assets/fotos/19.jpg')
  +foto('../assets/fotos/67.jpg','../assets/fotos/67.jpg')
  +foto('../assets/fotos/21.jpg','../assets/fotos/21.jpg')
  +foto('../assets/fotos/22.jpg','../assets/fotos/22.jpg')
  +foto('../assets/fotos/32.jpg','../assets/fotos/32.jpg')
  +foto('../assets/fotos/41.jpg','../assets/fotos/41.jpg')
  +foto('../assets/fotos/25.jpg','../assets/fotos/25.jpg')
  +foto('../assets/fotos/34.jpg','../assets/fotos/34.jpg')
  +foto('../assets/fotos/71.jpg','../assets/fotos/71.jpg')
  +foto('../assets/fotos/28.jpg','../assets/fotos/28.jpg')
  +foto('../assets/fotos/58.jpg','../assets/fotos/58.jpg')