section#carouselSocial.social.carousel.slide.set-bgcolor--socialmedia.page-section.p-4(data-ride='carousel')
  .carousel-control.d-flex.justify-content-center.pt-2.pb-5#contatos
    a.carousel-control-prev(href='#carouselSocial', role='button', data-slide='prev')
      span.carousel-control-prev-icon.carousel-control-prev-icon-fix(aria-hidden='true')
      span.sr-only Previous
    a(href='https://www.google.com/search?q=a%C3%A7ai%20tuira&rlz=1C1CHBD_pt-PTBR872BR872&oq=a%C3%A7ai+tuira&aqs=chrome.0.0l3.1959j1j7&sourceid=chrome&ie=UTF-8&sxsrf=ACYBGNTtx9VSavASPSs2ef2YAi_7IMCtng:1580218403404&npsic=0&rflfq=1&rlha=0&rllag=-15780779,-47898960,6980&tbm=lcl&rldimm=15688658570673069417&lqi=Cgthw6dhaSB0dWlyYVoPCgAiC2HDp2FpIHR1aXJh&phdesc=vBTD7NBD734&ved=2ahUKEwjMxOiktKbnAhXHLLkGHXiuDbgQvS4wAHoECAoQIA&rldoc=1&tbs=lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:9&rlst=f#rlfi=hd:;si:9650618410496571,l,Cgthw6dhaSB0dWlyYVoPCgAiC2HDp2FpIHR1aXJh,y,atmjENYxxm8;mv:[[-15.714073399999998,-47.875709799999996],[-15.8474852,-47.922211]]' target='_blank')
      img(src='../assets/icon-social-carousel.svg' width='80' data-toggle="tooltip" data-placement="top" title="Depoimentos do Google")
    a.carousel-control-next(href='#carouselSocial', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  .carousel-inner.socialmedia.font-secundary
    .carousel-item.active(data-interval='10000')
      .container-fluid
        .row
          .col-md-6.col-sm-12.text-center
            p.set-size--sm.set-color--bluegray.min-height-p Parabéns <b>Tuíra Açaí</b>, sabores fantásticos, experiência maravilhosa, espaço aconchegador e elegante, atendentes educados e um açaí original para todos os gostos.
            .media.d-inline-flex
              img.mr-3.rounded-circle.border.border-white(src='../assets/depoimentos/carlos.jpg', alt='Internauta Carlos' width='75' height='75')
              .media-body.text-left
                h5.mt-0 Carlos Neri
                |  Brasília - DF
          .col-md-6.col-sm-12.text-center
            p.set-size--sm.set-color--bluegray.min-height-p Sem dúvidas <b>Tuíra Açaí</b> foi um dos melhores lugares em Brasília que experiementei um açaí de sabor genuíno, apurado e com amor. Além de toda história que notei que eles passam a respeito do seu produto e do Brasil Açaí. 
            .media.d-inline-flex
              img.mr-3.rounded-circle.border.border-white(src='../assets/depoimentos/raphaeladutra.jpg', alt='Internauta Raphaela' width='75' height='75')
              .media-body.text-left
                h5.mt-0 Raphaela Dutra
                |  Brasília - DF
    .carousel-item
      .container-fluid
        .row
          .col-md-6.col-sm-12.text-center
            p.set-size--sm.set-color--bluegray.min-height-p Açaí diferenciado! Opções deliciosas no cardápio, inclusive para quem não está no dia do açaí!
            .media.d-inline-flex
              img.mr-3.rounded-circle.border.border-white(src='../assets/depoimentos/cristianedias.png', alt='Internauta Cristiane Dias' width='75' height='75')
              .media-body.text-left
                h5.mt-0 Cristiane Dias
                |  Brasília - DF
          .col-md-6.col-sm-12.text-center
            p.set-size--sm.set-color--bluegray.min-height-p O melhor açaí da cidade! Todos os ingredientes são de altíssima qualidade, ambiente agradável e o atendimento muito bom! É um pedaço do Norte brasileiro no nosso cerrado.
            .media.d-inline-flex
              img.mr-3.rounded-circle.border.border-white(src='../assets/depoimentos/guilhermebezerra.png', alt='Internauta Guilherme Bezerra' width='75' height='75')
              .media-body.text-left
                h5.mt-0 Guilherme Bezerra
                |  Brasília - DF
    .carousel-item
      .container-fluid
        .row
          .col-md-6.col-sm-12.text-center
            p.set-size--sm.set-color--bluegray.min-height-p Melhor açaí de Brasília, ambiente aconchegante e ótimo atendimento.
            .media.d-inline-flex
              img.mr-3.rounded-circle.border.border-white(src='../assets/depoimentos/candidacunha.png', alt='Internauta Candida Cunha' width='75' height='75')
              .media-body.text-left
                h5.mt-0 Cândida Cunha
                |  Brasília - DF
          .col-md-6.col-sm-12.text-center
            p.set-size--sm.set-color--bluegray.min-height-p Atendimento maravilhoso e o açaí, o mais e puro e o delicioso de Brasília!
            .media.d-inline-flex
              img.mr-3.rounded-circle.border.border-white(src='../assets/depoimentos/vanessaribeiro.png', alt='Internauta Vanessa Ribeiro' width='75' height='75')
              .media-body.text-left
                h5.mt-0 Vanessa Ribeiro
                |  Brasília - DF

