section.d-flex.flex-wrap.justify-content-start.mosaic-margin
  .content.embed
    a(href='../assets/fotos/2.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/2.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/3.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/3.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/4.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/4.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/5.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/5.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/6.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/6.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/7.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/7.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/8.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/8.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/16.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/16.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/10.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/10.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/9.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/9.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/12.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/12.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/13.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/13.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/14.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/14.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/15.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/15.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
  .content.embed
    a(href='../assets/fotos/11.jpg' data-toggle="lightbox" data-gallery="gallery")
      .content-overlay
      img.img-fluid(src='../assets/fotos/11.jpg')
      .content-details.fadeIn-bottom
        h3.content-title Tuíra Açaí
        p.content-text Diversidade de sabores
