#carouselSocial.social.carousel.slide.set-bgcolor--socialmedia(data-ride='carousel')
  .carousel-control.d-flex.justify-content-center.pt-5.pb-5
    a.carousel-control-prev(href='#carouselSocial', role='button', data-slide='prev')
      span.carousel-control-prev-icon.carousel-control-prev-icon-fix(aria-hidden='true')
      span.sr-only Previous
    img(src='../assets/icon-social-carousel.svg' width='80')
    a.carousel-control-next(href='#carouselSocial', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  .carousel-inner.socialmedia
    .carousel-item.active(data-interval='10000')
      .container-fluid
        .row
          .col-6.text-center
            p.set-size--sm.set-color--bluegray aaaaaaaaaaaaaaaaaaa    ue ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            .media.d-inline-flex
              img.mr-3(src='../assets/logo-circle.svg', alt='...')
              .media-body.text-left
                h5.mt-0 Media heading
                |     Cras sit amet nibh libero
          .col-6.text-center
            p.set-size--sm.set-color--bluegray aaaaaaaaaaaaaaaaaaa    ue ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            .media.d-inline-flex
              img.mr-3(src='../assets/logo-circle.svg', alt='...')
              .media-body.text-left
                h5.mt-0 Media heading
                |     Cras sit amet nibh libero  
    .carousel-item
      .container-fluid
        .row
          .col-6.text-center
            p.set-size--sm.set-color--bluegray bbbbbbbbbbbbbbbbbbb scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            .media.d-inline-flex
              img.mr-3(src='../assets/logo-circle.svg', alt='...')
              .media-body.text-left
                h5.mt-0 Media heading
                |     Cras sit amet nibh libero
          .col-6.text-center
            p.set-size--sm.set-color--bluegray bbbbbbbbbbbbbbbbbbb scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            .media.d-inline-flex
              img.mr-3(src='../assets/logo-circle.svg', alt='...')
              .media-body.text-left
                h5.mt-0 Media heading
                |     Cras sit amet nibh libero  
    .carousel-item
      .container-fluid
        .row
          .col-6.text-center
            p.set-size--sm.set-color--bluegray dddddddddddddddddd  metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            .media.d-inline-flex
              img.mr-3(src='../assets/logo-circle.svg', alt='...')
              .media-body.text-left
                h5.mt-0 Media heading
                |     Cras sit amet nibh libero
          .col-6.text-center
            p.set-size--sm.set-color--bluegray dddddddddddddddddd  metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            .media.d-inline-flex
              img.mr-3(src='../assets/logo-circle.svg', alt='...')
              .media-body.text-left
                h5.mt-0 Media heading
                |     Cras sit amet nibh libero  

