footer.set-bgcolor--primary.p-2
  .container
    .row
      .col-md-4
      .col-md-4.text-center
        p
        img(src='../assets/logo.svg', alt='Logo Rodapé', width='300')
        p
          strong SORRIR & SAÚDE
        p CLÍNICA ODONTOLÓGICA
      .col-md-4
.set-border--bottom.set-color--tertiary
section.p-2.set-bgcolor--black.set-color--lightgray
  .container
    .row.set-color--primary
      .col-md-6
        small Copyright © 2019 Sorrir & Saúde Clínica Odontológica
      .col-md-6.text-right
        small Desenvolvido por 
          a.set-colorlink--primary(href='#') Carlosvz