footer.footer.set-bgcolor--primary
  .container.set-bgcolor--socialmedia
    .row
      .col.text-center.socialmedias-bgs
        .social-position
          a.m-2(href='#' target='_blank')
            img(src='../assets/icon-facebook-circle.svg' width='40' title='facebook')
          a.m-2(href='#' target='_blank')
            img(src='../assets/icon-instagram-circle.svg' width='40' title='instagram')
  .container
    .row
      .col-md-4.col-sm-12
        h3.set-color--white.pt-4.pb-2 Fale conosco
        ul.list-unstyled.font-secundary
          li.pb-3
            a.set-colorlink--white(href='https://wa.me/5561994236177') 
              img.mr-2(src='../assets/whatsapp-circle.svg' width='20')
              | 61  99423 6177 (Whatsapp)
          li.pb-3
            a.set-colorlink--white(href='tel:') 
              img.mr-2(src='../assets/icon-phone-circle.svg' width='20')
              | 61 3037 2230 (Loja Asa Norte)
          li.pb-3
            a.set-colorlink--white(href='tel:') 
              img.mr-2(src='../assets/icon-phone-circle.svg' width='20')
              | 61 9846 76644 (Loja Asa Sul)
          li.pb-3
            a.set-colorlink--white(href='tel:') 
              img.mr-2(src='../assets/icon-phone-circle.svg' width='20')
              | 61 3468 4844 (Loja Lago Norte)
          li.pb-3
            a.set-colorlink--white(href='tel:')  
              img.mr-2(src='../assets/icon-mail.svg' width='20')
              | contato@tuira.bsb.br
      .col-md-4.col-sm-12
        .pt-5.text-center
          img(src='../assets/logo-circle.svg' width='150')
        .pt-5.pb-5.text-center
          img(src='../assets/imagens/payments.png')
      .col-md-4.col-sm-12
        h3.set-color--white.pt-4.pb-2 Endereços
        ul.list-unstyled.font-secundary
          li.pb-3
            a.set-colorlink--white(href='https://www.google.com/search?q=CLN+204%2C+bloco+C+loja+9+-+Asa+Norte+-+Bras%C3%ADlia+-+DF&oq=CLN+204%2C+bloco+C+loja+9+-+Asa+Norte+-+Bras%C3%ADlia+-+DF&aqs=chrome..69i57.916j0j9&sourceid=chrome&ie=UTF-8' target='_blank') 
              img.mr-2(src='../assets/icon-pin.svg' width='20')
              | CLN 204, bloco C loja 9 - Asa Norte - Brasília - DF
          li.pb-3
            a.set-colorlink--white(href='https://www.google.com/search?q=SGAS+616%2C+Centro+Cl%C3%ADnico+Linea+Vitta%2C+bloco+A%2C+loja+09-+Asa+Sul+-+Bras%C3%ADlia+-+DF&oq=SGAS+616%2C+Centro+Cl%C3%ADnico+Linea+Vitta%2C+bloco+A%2C+loja+09-+Asa+Sul+-+Bras%C3%ADlia+-+DF&aqs=chrome..69i57.1040j0j9&sourceid=chrome&ie=UTF-8' target='_blank') 
              img.mr-2(src='../assets/icon-pin.svg' width='20')
              | SGAS 616, Centro Clínico Linea Vitta, bloco A, loja 09- Asa Sul - Brasília - DF
          li.pb-3
            a.set-colorlink--white(href='https://www.google.com/search?q=Shopping+Deck+Norte+-+Shin+CA+1%2C+Bloco+A+Lote+A%2C+s%2Fn+-+Lago+Norte%2C+Bras%C3%ADlia+-+DF&oq=Shopping+Deck+Norte+-+Shin+CA+1%2C+Bloco+A+Lote+A%2C+s%2Fn+-+Lago+Norte%2C+Bras%C3%ADlia+-+DF&aqs=chrome..69i57.1200j0j9&sourceid=chrome&ie=UTF-8' target='_blank') 
              img.mr-2(src='../assets/icon-pin.svg' width='20')
              | Shopping Deck Norte - Shin CA 1, Bloco A Lote A, s/n - Lago Norte, Brasília - DF
.set-bgcolor--purpledark.set-size--xs.set-color--white.font-secundary
  .container
    .row
      .col-md-6.col-sm-12
        p.m-0.pt-3.pb-3
          | Copyright ® 2020 todos os direitos reservados http://www.tuira.bsb.br
      .col-md-6.col-sm-12
        p.m-0.pt-3.pb-3.text-right
          | Desenvolvido por 
          a.set-colorlink--white(href='https://github.com/viruzvz' target='_blank') Carlos vz
a#button.p-2
  img(src='../assets/icon-chevron-up.svg' width='30')