.set-bgcolor--primary
  .container
    .row
      .col-md-6
        .media
          .media-left
            a(href='http://www.clinicasaude.com.br')
              img.media-object(src='assets/logo.svg', alt='Logo', width='300')
      .col-md-6.text-right.pt-2
        p.set-color--white.mb-0
          strong 
            span.fa.fa-envelope
            span &nbsp; contato@sorriresaude.com.br
        p.set-color--white
          span.fa.fa-phone-square
          span.mr-2
            | &nbsp; (61) 3028-0494
          strong.set-size--xl.set-color--tertiary 
            span.fa.fa-whatsapp
            | &nbsp; (61) 98230 1562
.set-border--bottom.set-color--tertiary
.set-bgcolor--navGradient.shadow-sm.sticky-top
  .container
    .row
      include nav.pug
.set-border--bottom.set-color--lightgray
