.container-fluid
  .row
    #carouselExampleIndicators.carousel.slide.carousel-fade.w-100(data-ride='carousel')
      .container
        .row
          .col-12.z-index-2
            .position-absolute.w-100
              .oval.element.set-bgcolor--white
                .d-flex.justify-content-center.h-100.align-items-end.pb-2
                  img.logo-control(src='../assets/logo.svg')
              include nav.pug
      .caption.bg-caption
        h1.bg-h1.set-color--primary.set-size--xgiant Tuíra Açaí
        p.set-color--primary.set-border--text.set-size--xxl.set-text--shadow.text-center
          strong Diversidade de sabores, <br/> de formas e de cores.
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
        li(data-target='#carouselExampleIndicators', data-slide-to='1')
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='assets/imagens/slide1500.jpg', alt='...')
        .carousel-item
          img.d-block.w-100(src='assets/imagens/slide1500-2.jpg', alt='...')
        .carousel-item
          img.d-block.w-100(src='assets/imagens/slide1500.jpg', alt='...')
      a.carousel-control-prev.z-index-3(href='#carouselExampleIndicators', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next.z-index-3(href='#carouselExampleIndicators', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

