header.container-fluid
  .row
    .text-center.p-2.w-100.d-lg-none.d-sm-block
      img.logo-control(src='../assets/logo-horizontal.svg' title='Logo' alt='Logo')
    nav.navsec.navbar.navbar-expand-lg.navbar-light.bg-light.position-fixed.w-100.transition.shadow.theme
      a.navbar-brand
        img.logo-control(src='../assets/logo-horizontal.svg' title='Logo' alt='Logo')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.navigation
        ul.navbar-nav
          include nav.pug
        .text-right.w-100
          a(href='https://wa.me/5561994236177')
            img(src='../assets/whatsapp-circle.svg' width='50' height='50')
    #carouselTopo.carousel-topo.carousel.slide.carousel-fade.w-100(data-ride='carousel')
      .container.d-none.d-lg-block
        .row
          .col-12.z-index-2
            .position-absolute.w-100
              .navbar
                .oval.element.set-bgcolor--white
                  .d-flex.justify-content-center.h-100.align-items-end.pb-2
                    img.logo-control(src='../assets/logo.svg' title='Bem vindo ao Tuíra Açaí (Logo)' alt='Logo')
                ul.nav.justify-content-center.w-50.mx-auto.bg-nav.mt-2.p-4.theme
                  include nav.pug
                  .position-relative
                    .position-absolute.bottom-0(style='right:-50px')
                      a(href='https://wa.me/5561994236177')
                        img(src='../assets/whatsapp-circle.svg' width='40' height='40')
      .caption.bg-caption.d-none.d-sm-block
        h1.bg-h1.set-color--primary.set-size--xgiant Tuíra Açaí
        p.set-color--primary.set-border--text.set-size--xxl.set-text--shadow.text-center
          strong Diversidade de sabores, <br/> de formas e de cores.
      .d-none.d-sm-block
        ol.carousel-indicators
          li.active(data-target='#carouselTopo', data-slide-to='0')
          li(data-target='#carouselTopo', data-slide-to='1')
          li(data-target='#carouselTopo', data-slide-to='2')
          li(data-target='#carouselTopo', data-slide-to='3')
          li(data-target='#carouselTopo', data-slide-to='4')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='assets/imagens/slide1500.jpg', alt='Moça Negra e uma Moça Loira ambas segurando uma tigela de açaí.')
        .carousel-item
          img.d-block.w-100(src='assets/imagens/slide1500-3.jpg', alt='Copo com um delicioso açaí para viagem e uma vitamina de açaí, ambas com frutas vermelhas.')
        .carousel-item
          img.d-block.w-100(src='assets/imagens/slide1500-4.jpg', alt='Um delicioso sanduíche e a equipe do Tuíra Açaí.')
        .carousel-item
          img.d-block.w-100(src='assets/imagens/slide1500-5.jpg', alt='Tigela de açaí com cupuaçu e diversos deliciosos ingredientes.')
        .carousel-item
          img.d-block.w-100(src='assets/imagens/slide1500-6.jpg', alt='Uma linda família com seu cachorro piscando para foto em um evento do Açaí tuíra, e um rapaz oferecendo um copo de açaí.')
      .d-none.d-sm-block
        a.carousel-control-prev.z-index-3(href='#carouselTopo', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next.z-index-3(href='#carouselTopo', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

