li.nav-item
	a.set-colorlink--primary.nav-link.active(href='#') Sobre
li.nav-item
	a.set-colorlink--primary.nav-link(href='#') Tuíra
li.nav-item
	a.set-colorlink--primary.nav-link(href='#') Cardápio
li.nav-item
	a.set-colorlink--primary.nav-link(href='#') Contatos