li.nav-item
	a.set-colorlink--primary.nav-link(href='#sobre') Sobre
li.nav-item
	a.set-colorlink--primary.nav-link(href='#tuira') Tuíra
li.nav-item
	a.set-colorlink--primary.nav-link(href='#contatos') Contatos
li.nav-item.position-relative
	a.set-colorlink--primary.nav-link.set-linkexternal(href='assets/cardapios/cardapio-2021-tuira.pdf' target='_blank') Cardápio
