li.nav-item
	a.set-colorlink--primary.nav-link.active(href='#') Sobre
li.nav-item
	a.set-colorlink--primary.nav-link(href='#') Tuíra
li.nav-item
	a.set-colorlink--primary.nav-link(href='#') Contatos
li.nav-item
	a.set-colorlink--primary.nav-link(href='#') Menu