li.nav-item
	a.set-colorlink--primary.nav-link(href='#sobre') Sobre
li.nav-item
	a.set-colorlink--primary.nav-link(href='#tuira') Tuíra
li.nav-item
	a.set-colorlink--primary.nav-link(href='#contatos') Contatos
li.nav-item.position-relative
	a.set-colorlink--primary.nav-link.set-linkexternal(href='https://mase.app/public/partners/6/menu' target='_blank') Cardápio
