nav.navbar.navbar-expand-lg.navbar-light
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.text-uppercase
      li.nav-item.active
        a.nav-link(href='#')
          strong Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') 
          strong Sobre
      li.nav-item
        a.nav-link(href='#') 
          strong Serviços
      li.nav-item
        a.nav-link(href='#') 
          strong Localização
      li.nav-item
        a.nav-link(href='#') 
          strong Contatos

