nav.navbar.navbar-expand-lg.navbar-light.navigation
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.text-uppercase
      li.nav-item
        a.set-colorlink--primary.pt-2.pb-2.pr-3.pl-3.active(href='#home')
          strong Home 
          span.sr-only (current)
      li.nav-item
        a.set-colorlink--primary.pt-2.pb-2.pr-3.pl-3(href='#sobre') 
          strong Sobre
      li.nav-item
        a.set-colorlink--primary.pt-2.pb-2.pr-3.pl-3(href='#servicos') 
          strong Serviços
      li.nav-item
        a.set-colorlink--primary.pt-2.pb-2.pr-3.pl-3(href='#localizacao') 
          strong Localização
      li.nav-item
        a.set-colorlink--primary.pt-2.pb-2.pr-3.pl-3(href='#contatos') 
          strong Contatos

