// SET COLORS BACKGROUNDS
.set-bgcolor--primary {background-color: $primary}
.set-bgcolor--secondary {background-color: $secondary}
.set-bgcolor--dark {background-color: $dark}
.set-bgcolor--black {background-color: black}
.set-bgcolor--white {background-color: white}
.set-bgcolor--tertiary {background-color: $tertiary}
.set-bgcolor--navGradient {background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(245,245,245,1) 50%, rgba(255,255,255,1) 100%);}
// SET COLORS TEXT
.set-color--primary {color: $primary}
.set-color--white {color: white}
.set-color--tertiary {color: $tertiary}
.set-color--lightgray {color: $lightgray}
.set-color--secondaryTransition {color: $secondaryTransition}
.set-color--black {color: black}
.set-color--hardgray {color: $hardgray}
.set-color--mediumgray {color: $mediumgray}
.set-color--title {color: $title}
// SET BORDERS
.set-border--bottom {border-bottom: 2px solid }
// SET SIZE
.set-size--xs {font-size:12px}
.set-size--sm {font-size:14px}
.set-size--md {font-size:16px}
.set-size--lg {font-size:18px}
.set-size--xl {font-size:20px}
.set-size--giant {font-size:60px}
// SET SHADOW
.set-text--shadow {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.68);
}
// ALL CLASSES
body {
	position: relative;
}
.set-background-logo {
	background-image: url('../assets/logo.png');
	background-repeat: no-repeat;
	background-position: right;
}
.carousel-topo {
	.carousel-caption {
		bottom: inherit;
		left: inherit;
		text-align: left;
		top: 50px;
	}
}