// SET COLORS BACKGROUNDS
.set-bgcolor--primary {background-color: $primary}
.set-bgcolor--secondary {background-color: $secondary}
.set-bgcolor--dark {background-color: $dark}
.set-bgcolor--black {background-color: black}
.set-bgcolor--white {background-color: white}
.set-bgcolor--tertiary {background-color: $tertiary}
.set-bgcolor--navGradient {background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(245,245,245,1) 50%, rgba(255,255,255,1) 100%);}
// SET COLORS TEXT
.set-color--primary {color: $primary}
.set-color--white {color: white}
.set-color--tertiary {color: $tertiary}
.set-color--lightgray {color: $lightgray}
.set-color--secondaryTransition {color: $secondaryTransition}
.set-color--black {color: black}
.set-color--hardgray {color: $hardgray}
.set-color--mediumgray {color: $mediumgray}
.set-color--title {color: $title}
.set-color--whats {color: $whats}
// SET LINKS
.active {
	color:$primary !important;
	border-bottom: 5px solid $primary
}
.set-colorlink--primary{
	color: $lightgray;
	&:hover {
		color: $primary;
		text-decoration: none;
	}
}
.set-colorlink--white {
	color: white;
	&:hover {
		color: $tertiary;
		text-decoration: none;
	}
}
.set-colorlink--whats {
	color: $whats;
	&:hover {
		color: $tertiary;
		text-decoration: none;
	}
}
// SET BORDERS
.set-border--bottom {border-bottom: 2px solid }
.set-border--text {
	-webkit-text-fill-color: $primary; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
// SET SIZE
.set-size--xs {font-size:12px}
.set-size--sm {font-size:14px}
.set-size--md {font-size:16px}
.set-size--lg {font-size:18px}
.set-size--xl {font-size:20px}
.set-size--xxl {font-size:30px}
.set-size--giant {font-size:60px}
.set-size--xgiant {font-size:72px}

@media (max-width:760px) {
	.set-size--giant {font-size:16px}
}
// SET SHADOW
.set-text--shadow {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.68);
}
// SET IMG STYLE 
.set-img-rounded {
	border-radius: 50%;
}
// ALL CLASSES
.sticky {
    position: -webkit-sticky;
    position: sticky;
	top: 0;
	z-index: 2;
}
body {
	position: relative;
	font-family: 'swis721_ex_btbold';
}
@font-face {
    font-family: 'swis721_ex_btbold';
    src: url('../assets/fonts/32584574.woff2') format('woff2'),
         url('../assets/fonts/32584574.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.set-background-logo {
	// background-image: url();
	background-repeat: no-repeat;
	background-position: right bottom;
}
.carousel-topo {
	.carousel-caption {
		bottom: inherit;
		
		text-align: left;
		top: 10%;
	}
}
@mixin fontAwesome {
	font-family: "FontAwesome";
	position: absolute;
	right: 15px;
	top: 15px;
}


/////////////////////////// Paralax
.parallax {
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-img {
 //   background-image:;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 760px) {
    .parallax {
        background-attachment: scroll;
    }
    .card-box {
      max-width: 100%;
    }
}

@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(xs) {

}
@include media-breakpoint-down(lg) {
	.set-size--xs {font-size:12px}
	.set-size--sm {font-size:14px}
	.set-size--md {font-size:14px}
	.set-size--lg {font-size:16px}
	.set-size--xl {font-size:18px}
	.set-size--xxl {font-size:25px}
	.set-size--giant {font-size:35px}
	.set-size--xgiant {font-size:55px}
	.bg-h1 {
		background-size: 340px;
		background-position: center top;
		height: 80px;
	}
	.caption {
		height: 225px;
		bottom: 0;
	}
	.bg-caption {
		background-size:250px;
	}
	.oval {
		margin-top: -400px;
	}
	.logo-control {
		width: 60px;
	}
}
@media (min-width: 1200px) {
	.set-size--xs {font-size:12px}
	.set-size--sm {font-size:14px}
	.set-size--md {font-size:16px}
	.set-size--lg {font-size:18px}
	.set-size--xl {font-size:20px}
	.set-size--xxl {font-size:30px}
	.set-size--giant {font-size:40px}
	.set-size--xgiant {font-size:60px}
	.bg-h1 {
		background-size: 370px;
		background-position: center top;
		height: 80px;
	}
	.caption {
		height: 300px;
		bottom: 0;
	}
	.bg-caption {
		background-size:300px;
	}
	.oval {
		margin-top: -400px;
	}
	.logo-control {
		width: 60px;
	}
}
@media (min-width: 1600px) {
	.set-size--xs {font-size:12px}
	.set-size--sm {font-size:14px}
	.set-size--md {font-size:16px}
	.set-size--lg {font-size:18px}
	.set-size--xl {font-size:20px}
	.set-size--xxl {font-size:30px}
	.set-size--giant {font-size:60px}
	.set-size--xgiant {font-size:72px}
	.bg-h1 {
		height: 100px;
		background-size: auto;
		background-position: center top;
		
	}
	.logo-control {
		width: 80px;
	}
	.oval {
		margin-top: -350px;
	}
	.caption {
		height: 400px;
		bottom: 0;
	}	
	.bg-caption {
		background-size:400px;
	}
}
.oval {
	height: 500px;
	width: 100%;
	border-radius: 50%;
  }
.element {
	/* NOPE */
	clip-path: inset(250px 0 0 0);
  }
  .caption {
	position: absolute;
	// bottom: -4px;
	overflow: hidden;
	z-index: 2;
	width: 100%;
	// height: 488px;
	text-align: center;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}
.bg-nav {
	background-image: url('../assets/imagens/nav-bg.png');
	background-repeat: no-repeat;
	background-position: center;
}
.bg-h1 {
	background-image: url('../assets/imagens/bg-h1.png');
	background-repeat: no-repeat;
	// height: 100px;
}
.bg-caption {
	background-image: url('../assets/imagens/acai-carousel.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}
