// SET COLORS BACKGROUNDS
.set-bgcolor--primary {background-color: $primary}
.set-bgcolor--secondary {background-color: $secondary}
.set-bgcolor--dark {background-color: $dark}
.set-bgcolor--black {background-color: black}
.set-bgcolor--purplewine {background-color: $purplewine}
.set-bgcolor--lowgray {background-color: $lowgray}
.set-bgcolor--white {background-color: white}
.set-bgcolor--tertiary {background-color: $tertiary}
.set-bgcolor--secondaryTransition {background-color: $secondaryTransition}
.set-bgcolor--navGradient {background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(245,245,245,1) 50%, rgba(255,255,255,1) 100%);}
.set-bgcolor--socialmedia {background-color: $socialmedia;}
.set-bgcolor--bluegray {background-color: $bluegray;}
.set-bgcolor--purpledark {background-color: $purpledark;}
// SET COLORS TEXT
.set-color--primary {color: $primary}
.set-color--white {color: white}
.set-color--tertiary {color: $tertiary}
.set-color--lightgray {color: $lightgray}
.set-color--purplewine {color: $purplewine}
.set-color--secondaryTransition {color: $secondaryTransition}
.set-color--socialmedia{color: $socialmedia}
.set-color--bluegray {color: $bluegray;}
.set-color--purpledark {color: $purpledark;}
.set-color--black {color: black}
.set-color--hardgray {color: $hardgray}
.set-color--mediumgray {color: $mediumgray}
.set-color--title {color: $title}
.set-color--whats {color: $whats}
// SET LINKS
.theme {
	.active {
		color:$primary !important;
		border-bottom: 5px solid $primary
	}
}
.set-link--zoom {
	transform: .2s;
	&:hover {
		transform: scale(1.5);
	}
}
.set-linkexternal {
	transition: 0.3s;
	&:after {
		content:'⤯';
		position: absolute;
		right: -5px;
		font-weight: bold;
	}
}
.set-colorlink--primary {
	transition: 0.3s;
	color: $secondary;
	&:hover {
		color: $primary;
		text-decoration: none;
	}
}
.set-colorlink--white {
	transition: 0.3s;
	color: white;
	&:hover {
		color: $bluegray;
		text-decoration: none;
	}
}
.set-colorlink--whats {
	transition: 0.3s;
	color: $whats;
	&:hover {
		color: $tertiary;
		text-decoration: none;
	}
}
// SET BORDERS
.set-border--bottom {border-bottom: 2px solid }
.set-border--text {
	-webkit-text-fill-color: $primary; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.set-border--text-gray {
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: gray;
}
// SET SIZE
.set-size--xs {font-size:12px}
.set-size--sm {font-size:14px}
.set-size--md {font-size:16px}
.set-size--lg {font-size:18px}
.set-size--xl {font-size:20px}
.set-size--xxl {font-size:30px}
.set-size--giant {font-size:60px}
.set-size--xgiant {font-size:72px}

// @media (max-width:760px) {
// .set-size--giant {font-size:16px}
// }
// SET SHADOW
.set-text--shadow {
	text-shadow: 2px 2px 2px rgba(0,0,0,0.68);
}
// SET IMG STYLE 
.set-img-rounded {
	border-radius: 50%;
}
// ALL CLASSES
.sticky {
    position: -webkit-sticky;
    position: sticky;
	top: 0;
	z-index: 2;
}
body {
	position: relative;
	font-family: 'swis721_ex_btbold';
}
.font-secundary {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
    font-family: 'swis721_ex_btbold';
    src: url('../../assets/fonts/32584574.woff2') format('woff2'),
         url('../../assets/fonts/32584574.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.carousel-topo {
	.carousel-indicators li {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid $primary;
	}
}

/////////////////////////// Paralax
.parallax-parent--bg{
	background-image: url('../../assets/imagens/bg-tree-and-green.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #fcf6db;
	// background-attachment: fixed;
	background-size: cover;
}
.set-background-logo {
	// background-image: url();
	background-repeat: no-repeat;
	background-position: right bottom;
}
.parallax {
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-img {
   background-image:url('../../assets/imagens/bg1.png');
   background-size: contain, cover;
}
.parallax-img--2 {
	background-image:url('../../assets/imagens/bg-barca.jpg');
	background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 760px) {
    .parallax {
        background-attachment: scroll;
    }
    .card-box {
      max-width: 100%;
    }
}
@include media-breakpoint-down(md) {
	.logo-control {
		width: 80px !important;
	}
	.parallax {
		height: 700px;
	}
	.content {
		width: calc(33.33% - 1px) !important;
	}
	.min-height-p {
		height: 150px !important;
	}
	.socialmedias-bgs {
		min-height: 35px;
		&:before, &:after {
			position: inherit !important;
			width: auto !important;
			height: auto !important;
			content:'';
		}
		&:before {
			background-image:none !important;
			left: 0 !important;
		}
		&:after {
			background-image:none !important;
			right: 0 !important;
		}
	}
}
@include media-breakpoint-down(sm) {
	.set-size--xl {font-size:16px !important}
}
@include media-breakpoint-down(xs) {

}
@include media-breakpoint-down(lg) {
	.set-size--xs {font-size:12px}
	.set-size--sm {font-size:14px}
	.set-size--md {font-size:14px}
	.set-size--lg {font-size:16px}
	.set-size--xl {font-size:18px}
	.set-size--xxl {font-size:25px}
	.set-size--giant {font-size:35px}
	.set-size--xgiant {font-size:55px}
	.bg-h1 {
		background-size: 340px;
		background-position: center top;
		height: 80px;
	}
	.bg-nav {
		background-size: 460px;
	}
	.caption {
		height: 210px;
		bottom: 0;
	}
	.bg-caption {
		background-size:250px;
	}
	.oval {
		margin-top: -400px;
	}
	.logo-control {
		width: 60px;
	}
	.bg-3 {
		background-image: none !important;
	}
	.media {
		display: block;
	}
}
@media (min-width: 1200px) {
	.set-size--xs {font-size:12px}
	.set-size--sm {font-size:14px}
	.set-size--md {font-size:16px}
	.set-size--lg {font-size:18px}
	.set-size--xl {font-size:20px}
	.set-size--xxl {font-size:30px}
	.set-size--giant {font-size:40px}
	.set-size--xgiant {font-size:60px}
	.bg-h1 {
		background-size: 370px;
		background-position: center top;
		height: 80px;
	}
	.caption {
		height: 300px;
		bottom: 0;
	}
	.bg-caption {
		background-size:300px;
	}
	.oval {
		margin-top: -400px;
	}
	.logo-control {
		width: 60px;
	}
}
@media (min-width: 1600px) {
	.set-size--xs {font-size:12px}
	.set-size--sm {font-size:14px}
	.set-size--md {font-size:16px}
	.set-size--lg {font-size:18px}
	.set-size--xl {font-size:20px}
	.set-size--xxl {font-size:30px}
	.set-size--giant {font-size:60px}
	.set-size--xgiant {font-size:72px}
	.bg-h1 {
		height: 100px;
		background-size: auto;
		background-position: center top;
		
	}
	.logo-control {
		width: 80px;
	}
	.oval {
		margin-top: -350px;
	}
	.caption {
		height: 400px;
		bottom: 0;
	}	
	.bg-caption {
		background-size:400px;
	}
	
}
.position-absolute--control {
	position: absolute;
}
.oval {
	height: 500px;
	width: 100%;
	border-radius: 50%;
  }
.element {
	/* NOPE */
	clip-path: inset(250px 0 0 0);
  }
  .caption {
	position: absolute;
	// bottom: -4px;
	overflow: hidden;
	z-index: 2;
	width: 100%;
	// height: 488px;
	text-align: center;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}
.bottom-0 {
	bottom: 0px;
}
.bottom--60{
	bottom: -60px;
}
.bg-nav {
	background-image: url('../../assets/imagens/nav-bg.png');
	background-repeat: no-repeat;
	background-position: center;
}
.bg-h1 {
	background-image: url('../../assets/imagens/bg-h1.png');
	background-repeat: no-repeat;
	// height: 100px;
}
.bg-caption {
	background-image: url('../../assets/imagens/acai-carousel.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}
.bg-3 {
	background-image: url('../../assets/imagens/bg3.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain, cover;
}
.separador {
	height: 32px;
	background-image: url('../../assets/imagens/separador-bg.png');
	background-repeat: repeat-x;
}
.separador-gradient {
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(224,225,221,1) 100%);
}
.separador-2 {
	height: 26px;
	background-image: url('../../assets/imagens/corda.png');
	background-repeat: repeat-x;
}
.separador-3 {
	height: 62px;
	background-image: url('../../assets/imagens/bg2.png');
	background-repeat: repeat-x;
}
.content-3 {
	height: 555px;
}
.carousel-control {
	.carousel-control-prev, .carousel-control-next {
		position: inherit;
	}
}
.social {
	.carousel-control-prev-icon { 
		background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
		width: 30px;
		height: 48px;
	}
	.carousel-control-next-icon { 
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
		width: 30px;
		height: 48px;
	}
}
.socialmedia {
	min-height: 250px;
}
.socialmedias-bgs {
	min-height: 35px;
	&:before, &:after {
		position: absolute;
		width: 34px;
		height: 35px;
		content:'';
	}
	&:before {
		background-image:url('../../assets/imagens/bg-border-left.png') ;
		left: -34px;
	}
	&:after {
		background-image:url('../../assets/imagens/bg-border-right.png') ;
		right: -34px;
	}
}
.social-position {
	position: absolute;
    width: 100%;
	top: -20px;
	left: 0;
}
.footer {
	min-height: 498px;
	position: relative;
	background-image: url('../../assets/imagens/bg-flowers.png');
	background-position: bottom, center;
	background-repeat: no-repeat;
	background-size: cover;
	// &:before, &:after {
	// 	position: absolute;
	// 	width: 275px;
	// 	height: 498px;
	// 	content:'';
	// 	top:0;
	// }
	// &:before {
	// 	background-image:url('../../assets/imagens/bg-flower-left.png') ;
	// 	left: 0;
	// }
	// &:after {
	// 	background-image:url('../../assets/imagens/bg-flower-right.png') ;
	// 	right: 0;
	// }
}
.animation-element {
	opacity: 0;
	position: relative;
}
.animation-element.slide-left {
transform: translate3d(-100px, 0px, 0px);
transition: all 500ms linear;
opacity: 0;
}
.animation-element.slide-left.in-view {
opacity: 1;
transform: translate3d(0px, 0px, 0px);
}
.embed {
	overflow: hidden;
	max-height: 250px;
	margin-right: 1px;
	margin-bottom: 1px;
}
// .mosaic-margin > :first-child { margin-left: 0 !important; margin-right: 0 !important; }
.mosaic-margin > :last-child { margin-left: 0 !important; margin-right: 0 !important; }
.content {
	position: relative;
	width: calc(20% - 1px);
	//margin: auto;
	overflow: hidden;
	.content-overlay {
		background: rgba(77, 43, 57, 0.7);
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: all 0.4s ease-in-out 0s;
	  }
	  &:hover {
		.content-overlay{
			opacity: 1;
		}
		.content-details{
			top: 50%;
			left: 50%;
			opacity: 1;
		}
	  }
  }
  .content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out 0s;
	h3{
		color: #fff;
		font-weight: 500;
		letter-spacing: 0.15em;
		margin-bottom: 0.5em;
		text-transform: uppercase;
	  }
	  p{
		color: #fff;
		font-size: 0.8em;
	  }
  }
  
  .fadeIn-bottom{
	top: 80%;
  }
  
  .fadeIn-top{
	top: 20%;
  }
  
  .fadeIn-left{
	left: 20%;
  }
  
  .fadeIn-right{
	left: 80%;
  }
  #button {
	display: inline-block;
	background-color: $secondary;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	&:hover {
		cursor: pointer;
		background-color: #333;
	}
  }
  .transition {
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  .transition:active {
	background-color: #555;
  }
  .show {
	opacity: 1;
	visibility: visible;
  }
.nav-link {
	transition: 0.3s;
	&:active, &:focus {
		font-weight: bold;
	}
}
.min-height-p {
	height: 100px;
}