// VARIABLES THEMA SYSTEM COLORS
$primary: #47303b;
$white: white;
$secondary: #fcefe3;
$dark: #333;
$tertiary: #af5700;
$lightgray: #ccc;
$secondaryTransition: #ead4c3;
$hardgray: #333;
$mediumgray: #666;
$title: #8e7359;
$whats: #06d755;
// VARIABLES THEMA TYPOGRAPHY

$fontFamily: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
$xlarge: 60px;
$large: 48px;
$medium: 36px;
$xmiddle: 22px;
$smiddle: 20px;
$middle: 18px;
$xregular: 16px;
$regular: 14px;
$small: 12px;
$milli: 8px;

// TRANSITION
$linktransition: color 0.15s linear;
