// VARIABLES THEMA SYSTEM COLORS
$primary: #47303b;
$white: white;
$secondary: #83546a;
$dark: #333;
$tertiary: #153a01;
$purpledark:#2d181f;
$lightgray: #ccc;
$secondaryTransition: #fff8f2;
$hardgray: #333;
$mediumgray: #666;
$title: #8e7359;
$whats: #06d755;
$lowgray: #e0e1dd;
$socialmedia: #f2f2f2;
$bluegray:#77889a;
// VARIABLES THEMA TYPOGRAPHY

$fontFamily: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
$xlarge: 60px;
$large: 48px;
$medium: 36px;
$xmiddle: 22px;
$smiddle: 20px;
$middle: 18px;
$xregular: 16px;
$regular: 14px;
$small: 12px;
$milli: 8px;

// TRANSITION
$linktransition: color 0.15s linear;
