@mixin hover {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  background-color: #fce2a4;
}

.hover-style {
  overflow: hidden;
  transition: .3s ease-in-out;
  &:hover {
    @include hover();
    img {
      filter: opacity(.6);
    }
    .card-body {
      h2 {font-weight: bold}
    }
  }
}

.animation-element {
  opacity: 0;
  position: relative;
}
.animation-element.slide-left {
  transform: translate3d(-100px, 0px, 0px);
  transition: all 500ms linear;
  opacity: 0;
}
.animation-element.slide-left.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}