doctype html  
html(lang='pt')  
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title intra
  body
    .container
      .row
        .col-md-3(style='background-color:#666')
          | aaa
        .col-md-6
          .row
            .col-md-12(style='margin-bottom:30px')
              .card
                img.card-img-top(src='https://picsum.photos/600/400?random=1', alt='...')
                .card-body
                  h5.card-title Card title
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                  a.btn.btn-primary(href='#') Go somewhere
            .col-md-6
              .card
                img.card-img-top(src='https://picsum.photos/600/400?random=2', alt='...')
                .card-body
                  h5.card-title Card title
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                  a.btn.btn-primary(href='#') Go somewhere
            .col-md-6
              .card
                img.card-img-top(src='https://picsum.photos/600/400?random=3', alt='...')
                .card-body
                  h5.card-title Card title
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                  a.btn.btn-primary(href='#') Go somewhere
        .col-md-3(style='background-color:#666')
          | aaa